
DJANGO_SECRET_KEY=change-me-in-production
DJANGO_DEBUG=1
DJANGO_ALLOWED_HOSTS=*


DB_ENGINE=sqlite # или DB_ENGINE=sqlite
DB_NAME=access_control_db
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=localhost
DB_PORT=5432


JWT_SECRET=change-me-too
JWT_ACCESS_TTL_SECONDS=14400
